@import "../main.css";
.footer {
  min-height: 532px;
  padding: 117px;
  background-color: #09142e !important;
}

.footer .logo {
  margin: 34px auto;
  display: block;
}
.footer .contact-icons {
  margin-bottom: 33px;
}
.footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 55px;
}

.footer ul li {
  color: white;
}
.footer ul li a {
  color: #aba !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer ul li a:hover {
  color: #cbc !important;
}
@media (max-width: 673px) {
  .footer ul {
    flex-direction: column;
  }
  .footer ul li {
    margin: 10px 0;
  }
}

@media (max-width: 424px) {
  .footer {
    padding: 10px;
  }
}