@import "../main.css";
/* Navbar */
.navbar {
  background-color: transparent !important;
  height: 117px;
}
.navbar .container-fluid {
  padding: 0 50px;
}
/* Links */
.navbar .navbar-nav li {
  margin: 0 12px;
  display: flex;
  align-items: center;
}
.collapse:not(.show) {
  display: block;
}
.navbar .navbar-nav svg {
  color: white;
  position: relative;
  top: 12px;
  left: 12px;
  cursor: pointer;
  transition: var(--main-transition);
}
.navbar .navbar-nav svg:hover {
  color: #ddd;
}
.navbar .navbar-nav li a {
  font-size: 16pt;
  color: #242f51;
  transition: var(--main-transition);
}
.navbar .navbar-nav li a:hover {
  opacity: 0.7;
}
.for-free {
  margin-left: 30px;
  width: 170px;
  height: 58px;
  background: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 58.5px;
  border: 1px solid var(--main-color);
  outline: none;
  transition: var(--main-transition);
  font-size: 10pt;
}
.for-free:hover,
.for-free:focus {
  background-color: white;
  color: var(--main-color);
}
/* Links */
@media (max-width: 1199px) {
  .navbar .navbar-nav li a {
    font-size: 10pt;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-collapse ul {
    background-image: linear-gradient(
      to bottom,
      var(--main-color),
      var(--seconary-color)
    );
    position: fixed;
    width: 17rem;
    height: 100vh;
    right: -17rem;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .navbar .navbar-collapse ul li,
  .navbar .navbar-collapse ul button {
    margin: 15px auto;
  }
  .navbar .navbar-collapse ul li a,
  .navbar .navbar-collapse ul li a.active {
    color: white;
  }
}

@media (max-width: 456px) {
  .navbar .navbar-collapse ul {
    width: 100%;
  }
}
/* Navbar */

/* Start Landing */
.landing {
  background-image: url("../imgs/upper-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 117px);
  position: relative;
}

.landing .container .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* left Column */
.landing .left-column {
  margin-bottom: 60px;
}
.landing .left-column h1 {
  font-weight: 600;
  font-size: 40pt;
  margin: 15px 0;
}

@media (max-width: 663px) {
  .landing .left-column h1 {
    font-size: 7vw;
  }
  .landing .left-column img {
    height: 22px;
  }
}

.landing .left-column .for-free {
  margin: 0 !important;
}
.landing .left-column .for-free:first-child {
  margin-right: 10px !important;
}
.landing .left-column .for-free:last-child {
  width: 170px;
  height: 58px;
  background: white;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 58.5px;
  border: 1px solid var(--main-color);
  outline: none;
  transition: var(--main-transition);
}
.landing .left-column .for-free:last-child:hover {
  background-color: var(--main-color);
  color: white;
}
/* left Column */
/* right Column */
.landing .right-column img {
  width: 100%;
  height: auto;
}
/* right Column */
.landing .landing-end {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 288px) {
  .navbar .navbar-brand img {
    width: 77px;
  }
}
/* End Landing */

@media (max-width: 991px) {
  .for-free {
    width: 140px !important;
    font-size: 10px !important;
  }
}

@media (max-width: 313px) {
  .for-free {
    width: 111px !important;
    font-size: 5px;
  }
}
